<%- include('includes/head') %>
<div class="container mx-auto grid grid-cols-3 gap-4">
    <% for(user of users){ %>
        <div class="h-56 rounded-xl bg-indigo-400 text-white flex justify-center items-center flex-col relative">
            <h3>
                <a href="/user/<%= user.id %>"> <%= user.username %> </a>
            </h3>
            <p><%= user.email %></p>
            <div class="absolute right-4 top-4 flex gap-4">
                <button class="w-8 h-8 rounded-full text-green-400 border-2 border-green-400 bg-green-400 bg-opacity-30 duration-300 hover:bg-opacity-100 hover:text-white">
                    <a href="/edit/<%= user.id %>"><i class="fas fa-pen"></i></a>
                </button>
                <form action="/deleteUser/<%= user.id %>" method="post">
                    <button class="w-8 h-8 rounded-full text-red-400 border-2 border-red-400 bg-red-400 bg-opacity-30 duration-300 hover:bg-opacity-100 hover:text-white">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>
        </div>
    <% } %>
</div>
<%- include('includes/foot') %>